@import url('https://fonts.google.com/specimen/Montserrat');
@import url('https://fonts.google.com/specimen/Roboto');

:root{
    --heading-font: "Montserrat";
    --paragraph-font: Roboto, sans-serif, Helvetica;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 35px;
    font-size: 25px;
    font-family: Roboto, sans-serif, Hevletica;
}

nav a:hover {
    background-color: #F0F8FE;
}


.content {
    max-width: 1600px;
    margin:auto 0;
}

header {
    background-color:#396E94;
    display: grid;
    grid-template-columns: 150px auto;
}

footer {
    background-color: #396E94;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.icon {
    width: 60px;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: yellow;
}

footer p {
    font-size: 1.2em;
    font-family: Roboto, sans-serif, Hevletica;
}

footer p a:hover {
    font-size: 1.2em;
    text-decoration: underline;
}

.greeting h1{
    text-align: center;
    font-family: Montserrat;
}

.home-grid{
    display: grid;
    grid-template-columns: 400px, 400px, 400px, 400px, 400px;
    grid-template-rows: 400px, 400px, 400px, 400px, 400px, 400px, 400px;
}

body{
    background-color: #D3D3D3;
} 


.greeting{
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 25px;
    font-size: 18px;
    font-family: Roboto, sans-serif, Hevletica;
}

.computerbuild{
    grid-column: 3/5;
    grid-row:1/3;
    padding: 15px;
    align-content: center;
    width: 90%;
}

.audience{
    grid-column: 2/4;
    grid-row: 5/6;
    padding: 15px;
    background-color: aqua;
    text-align: center;
    font-size: 18px;
    font-family: Roboto, sans-serif, Hevletica;
    width: 80%;
}

.audience h3{
    font-family: Montserrat;
    font-size: 23px;
}

.installation{
    grid-column: 1/3;
    grid-row: 4/7;
    padding: 15px;
    width: 90%;
}

.descriptions-grid{
    display:grid;
    grid-template-columns: (4,1fr);
    grid-template-rows: (13,1fr);
}

h3{
    text-align: center;
    font-size: 25px;
}

.cpu{
    grid-column:2/3;
    text-align: center;
    padding-top: 10px;
    background-color: aqua;
    font-size: 18px;
    width: auto;
    height: 100px;
    align-self: center;
    text-align: center;

}

.cpu-img{
    grid-column: 2/4;
    width: 900px;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto;
}

.cpu, .cpu-img{
    grid-row: 1
}

.gpu{
    grid-column:3/4;
    padding-top: 10px;
    background-color: aqua;
    font-size: 18px;
    width: auto;
    height: 100px;
    align-self: center;
    text-align: center;
}

.gpu-img{
    grid-column: 2/4;
    width: 950px;
    padding-right: 300px;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
}

.gpu, .gpu-img{
    grid-row: 2/3;
}

.psu{
    grid-column: 2/3;
    padding-top: 10px;
    background-color: aqua;
    font-size: 18px;
    width: auto;
    height: 100px;
    align-self: center;
    text-align: center;
}

.psu-img{
    grid-column: 2/4;
    width: 950px;
    padding-left: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    
}

.psu, .psu-img{
    grid-row: 3/4;
}

.ram{
    grid-column: 3/4;
    padding-top: 10px;
    background-color: #00ffff;
    font-size: 18px;
    width: auto;
    height: 100px;
    align-self: center;
    text-align: center;
}

.ram-img{
    grid-column: 2/4;
    width: 950px;
    padding-right: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
}

.ram, .ram-img{
    grid-row: 4/5;
}

.storage{
    grid-column: 1/3;
    padding-top: 10px;
    background-color: #00ffff;
    font-size: 18px;
    width: auto;
    height: 100px;
    align-self: center;
    text-align: center;
}

.storage-img{
    grid-column: 2/4;
    width: 800px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
}

.storage, .storage-img{
    grid-row: 5/6;
}

.case{
    grid-column: 3/4;
    padding-top: 10px;
    background-color: #00ffff;
    font-size: 18px;
    width: auto;
    height: 100px;
    align-self: center;
    text-align: center;
}

.case-img{
    grid-column: 1/4;
    width: 800px;
    padding-right: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
}

.case, .case-img{
    grid-row: 6/7;
}














/* Slideshow CSS */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top:10px;
}

.mySlides {
    display: none;
  }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}